REACT_APP_API_URL=https://golf-charity-backend-sgvd.onrender.com/api
REACT_APP_STRIPE_PUBLISHABLE_KEY=pk_test_51TFosCD9uZVuQnwFJWtLfQu839cJw9GT8kHdhPSmLC8MEdk8KYkWXk4f2DIab1FvlP9m3jQI1l6mjL5boegkfCoQ00jiOl5LXb
REACT_APP_NAME=golf-charity

